# Empty iptables rule file
*filter
:INPUT ACCEPT [0:0]
-A INPUT -p udp --dport 500 -j ACCEPT
-A INPUT -p udp --dport 4500 -j ACCEPT
-A INPUT -p tcp --dport 4500 -j ACCEPT
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
-A POSTROUTING -s {{ site-a-private-subnet }} -d {{ site-b-private-subnet }} -j SNAT --to {{ site-a-outside-nat-ip }}
COMMIT
